<div class="sidenav">
    <div >
        <a  th:href="@{/}" style="padding-bottom: 0; padding-top:0 ; margin-left: 12px">
            <img th:src="@{/logo.png}" />            
        </a>  
        <a style="font-size: 12px; margin-left: 0; padding-top: 0" th:href="@{/}">www.ezeontech.com</a>         
    </div>

    <div class="mheader">
        Enquiry
    </div>     
    <a th:href="@{/}">Add Enquiry</a>
    <a th:href="@{/enq-list}">List Enquiry</a>
    
    <div class="mheader">
        Institute
    </div>   

    <a th:href="@{/institute-form}">Add Institute</a>
    <a th:href="@{/institute-list}">Institute List</a>  
    
    <div class="mheader">
        Masters
    </div> 
    
    <a th:href="@{/sources}">Enquiry Source</a>
    <a th:href="@{/courses}">Courses</a> 
    
</div>